@import "bourbon/bourbon"

body
	font-family: "PTSansRegular", sans-serif
	font-weight: normal
	font-size: 24px
	position: relative
	color: #fff
	text-align: center
	-webkit-font-smoothing: antialised
	margin: 0
	min-height: 100vh
	min-width: 1280px

$red-color: #ec361e

h1, h2, h3
	font-family: "JournalSansBold"
h3
	text-transform: uppercase
	font-size: 48px
a 
	outline: none
form
	width: 497px
	margin: 0 auto
	overflow: hidden
	.inputs-wrap
		float: left
		width: 215px
		input
			width: 215px
			height: 35px 
			display: inline-block
			vertical-align: top
			border-radius: 3px
			background-color: #FFF
			color: #888888
			text-indent: 15px
			font-size: 18px 
			font-family: "JournalSansRegular"
			border: none
			margin-bottom: 15px
			box-sizing: border-box
	button
		width: 250px
		height: 85px
		display: inline-block
		margin-top: 25px
		float: right
		color: #fff
		font-size: 30px
		font-family: "JournalSansBold"
		background-color: #46d301
		border: none
		border-radius: 3px
		cursor: pointer
		&:hover
			background-color: #39a901
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
			
header
	position: relative
	padding-top: 70px
	.top-line
		font-size: 19px
		font-family: "JournalSansRegular";
		position: fixed
		width: 100%
		min-width: 1280px
		height: 70px
		background-color: #FFF
		color: #6d6d6d
		overflow: hidden
		line-height: 70px
		top: 0
		left: 0
		z-index: 10000
		.container
			max-width: 1700px
			width: 100%
			margin: 0 auto
			position: relative
			.logo
				position: absolute
				left: 50%
				margin-left: -122px 
				top: 17px
			.left-wrap
				float: left
				a
					color: #6d6d6d
					font-family: "JournalSansBold"
			.contact, a
				margin: 0 15px
			.right-wrap
				float: right
	.main-title
		background: url('../img/pattern-1.jpg')
		height: 170px
		position: relative 
		h1 
			font-size: 52px
			line-height: 170px
			text-transform: uppercase
			margin: 0
		.arrov
			position: absolute
			left: 50%
			margin-left: -20px
			bottom: -30px
	.header-bottom
		background-image: url("../img/header-bg.jpg")
		background-size: cover
		background-position: center top 
		background-attachment: fixed
		box-sizing: border-box
		min-width: 1280px
		padding: 110px 0 380px
	h2 
		font-size: 72px
		margin: 0 0 30px
	.price
		font-size: 48px
		font-family: "JournalSansRegular"
		margin: 35px 0
#advantages
	width: 1270px
	margin: -150px auto 0
	position: relative
	h3
		color: #292929
		height: 150px
		background-color: #FFF
		margin: 0
		line-height: 150px
	.red-arrov
		position: absolute
		top: 135px
		right: 60px
	.gray-arrov
		position: absolute
		top: 488px
		left: 35px
	.advantages-wrap
		width: 424px
		height: 340px
		display: inline-block
		vertical-align: top
		margin: 0 -3px
		position: relative
		overflow: hidden
		.adventage
			width: 100%
			height: 50%
			font-size: 30px
			font-family: "JournalSansBold"
			display: inline-block
			vertical-align: top
			h4 
				line-height: 170px
				margin: 0
				text-transform: uppercase
			.descr
				opacity: 0
				background-color: $red-color
				color: #fff
				width: 100%
				height: 100%
				position: absolute
				padding: 80px 60px
				text-align: left
				box-sizing: border-box
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				h4
					font-size: 25px
					line-height: 24px
					margin: 0 0 35px
					font-family: "JournalSansBold"
				p 
					font-size: 23px
					font-family: "JournalSansRegular";
			.descr-top
				bottom: 100%
			.descr-bottom
				top: 100%

		.adventage-top
			&:hover .descr-top
				opacity: 1
				bottom: 0
		.adventage-bottom
			&:hover .descr-bottom
				opacity: 1
				top: 0
		.gray
			background-color: #f8f8f8
			color: #292929
		.dark
			background-color: #292929
			color: #fff
		.white
			background-color: #FFF
			color: #292929
	img
		display: inline-block
		vertical-align: top
		margin: 0 -3px
#fishes
	background: url('../img/pattern-2.jpg')
	padding: 40px 0 70px
	position: relative
	overflow: visible
	.bx-wrapper
		margin: 0 auto
		width: 1270px
		box-shadow: none;
		border: none;
		background: transparent;
	.bx-viewport
		overflow: visible
		height: 360px !important
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
		position: inherit
	.bx-wrapper .bx-pager
		background: url('../img/diamonds.png') no-repeat center
	.bx-wrapper .bx-pager
		padding-top: 0
	.bxslider
		li 
			h4
				font-size: 48px
				font-family: "JournalSansBold"
				text-transform: uppercase
				margin: 0 0 50px
			p
				background-color: #f8f8f8
				padding: 35px
				margin: 0
				color: #000
				font-family: "PTSansItalic"
			.border
				width: 100%
				height: 10px 
				background-color: #f8f8f8
				border-bottom: 10px solid #c6c6c6
				margin-top: 10px
				position: relative
				img 
					position: absolute
					bottom: -20px
			&:first-child
				img 
					left: 150px
			&:nth-child(2)
				img 
					left: 460px
			&:nth-child(3)
				img 
					right: 470px
			&:nth-child(4)
				img 
					right: 160px
	.bx-pager-item
		margin: 0 85px
		.bx-pager-link
			width: 130px
			height: 130px
			background-image: url("../img/fishes-sprite.png")
			background-size: 620%
			background-position: -15px
		&:first-child
			.bx-pager-link
				background-position: -55px -15px
		&:nth-child(2)
			.bx-pager-link
				background-position: -242px -15px
		&:nth-child(3)
			.bx-pager-link
				background-position: -435px -15px
		&:nth-child(4)
			.bx-pager-link
				background-position: -625px -15px
	.bx-wrapper .bx-pager.bx-default-pager a:hover, 
	.bx-wrapper .bx-pager.bx-default-pager a.active, 
	.bx-wrapper .bx-pager.bx-default-pager a:focus,
		background-color: transparent
		width: 130px
		height: 130px
		background-image: url("../img/fishes-sprite.png")
		background-size: 620%
		background-position: -185px
	.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:first-child
		.bx-pager-link:hover,
		.bx-pager-link.active,
		.bx-pager-link:focus,
			background-position: -55px -185px
	.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-child(2)
		.bx-pager-link:hover,
		.bx-pager-link.active,
		.bx-pager-link:focus,
			background-position: -242px -185px
	.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-child(3)
		.bx-pager-link:hover,
		.bx-pager-link.active,
		.bx-pager-link:focus,
			background-position: -435px -185px
	.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-child(4)
		.bx-pager-link:hover,
		.bx-pager-link.active,
		.bx-pager-link:focus,
			background-position: -625px -185px
	.bx-wrapper .bx-pager.bx-default-pager a
		background-color: transparent
	.bx-controls
		position: relative
		margin-top: -65px
	.bx-controls-direction
		a 
			width: 17px
			height: 20px
			background-image: url("../img/slide-arrovs.png")
			background-size: cover
			position: absolute
			top: 68%
		.bx-prev
			left: 0
			background-position: 0 0
			&:hover
				background-position: -40px 0
		.bx-next
			right: 0
			background-position: -20px 0
			&:hover
				background-position: -60px 0
	.arrov-down
		position: absolute
		bottom: -30px
		left: 50%
		margin-left: -32px
		z-index: 100
#caviars
	width: 1100px
	margin: 0 auto
	position: relative
	padding-bottom: 100px
	h3
		color: #acacac
		font-size: 124px
		font-family: "JournalSansBold";
		margin-bottom: 50px
	.wrap 
		position: relative
		form
			position: absolute
			display: none
			overflow: hidden
			margin-bottom: 30px
			left: 570px;
			top: 350px;
			input
				border: 1px solid #dddddd
	.obtain
		color: #acacac
		font-size: 48px
		font-family: "PTSansItalic";
		width: 750px
		margin: 0 auto
		background: url('../img/open-quotes.png') no-repeat 0 25%, url('../img/close-quotes.png') no-repeat 100% 25%
	.kind
		width: 50%
		height: 345px
		display: inline-block
		color: #000
		margin: 0 -4px
		cursor: pointer
		.left-title, .right-title
			display: inline-block
			position: absolute
			top: 100px
		.left-title
			left: -40px
			-webkit-transform: rotate(90deg); 
			transform: rotate(90deg);
		.right-title
			right: -40px
			-webkit-transform: rotate(-90deg); 
			transform: rotate(-90deg);
		.plus
			width: 60px
			height: 60px
			color: #e8e8e8
			border: 2px solid #e8e8e8
			font-size: 65px
			line-height: 60px
			display: inline-block
			vertical-align: top
			text-align: center
			margin: 0 10px
		h4
			font-size: 30px
			line-height: 36px
			font-family: "JournalSansBold";
			color: #000
			margin: 0
			text-transform: uppercase
			display: inline-block
			vertical-align: top
	.weighted
		background: url('../img/caviar-weighted.png') no-repeat top right
		text-align: left
	.jars
		background: url('../img/caviar-jars.png') no-repeat top left
		text-align: right
	.weighted-info, .jars-info
		display: none
		margin-top: 100px
		img 
			float: left
		.right-wrap
			float: right
			color: #000
			width: 530px
			text-align: left
			h4
				font-size: 40px
				font-family: "JournalSansBold";
				text-transform: uppercase
				margin: 30px 0 30px
			.descr
				padding-left: 30px
				border-left: 5px solid #dddddd
				margin-bottom: 40px
				p 
					font-family: "PTSansItalic";
					font-size: 18px
				span 
					color: #8c8c8c
					font-family: "JournalSansBold";
					font-size: 18px
					line-height: 18px
					margin-right: 10px
			.to-other
				font-size: 36px
				cursor: pointer
				margin-top: 230px;
				.plus
					width: 40px
					height: 40px 
					border: 2px solid #8c8c8c
					display: inline-block
					text-align: center
					color: #8c8c8c
					font-size: 45px
					line-height: 40px
				span 
					font-family: "JournalSansBold";
					color: #686868
					display: inline-block
					vertical-align: middle
					margin: 0 0 17px 10px
					&:hover	
						text-decoration: underline					

#place-of-catch
	background: url('../img/pattern-3.png')
	padding: 80px 0 145px
	.container
		width: 1270px
		margin: 0 auto
		overflow: hidden
	.map
		width: 620px
		height: 580px
		background-color: #FFF
		float: left
		margin-right: 50px
		padding: 50px 0
		box-sizing: border-box
		.kamchatka-map
			display: none
	.place-info
		float: left
		text-align: left
		width: 460px
		h3
			color: #4e4d4d
			margin-top: 0
			margin-bottom: 70px
		h4
			color: #1c2423
			font-size: 45px
			margin: 30px 0
			text-decoration: underline 
			font-family: "JournalSansBold";
		p 
			font-size: 21px
			line-height: 23px
			color: #1c2423
			margin: 0 0 50px
			padding-left: 30px
			border-left: 5px solid #dddddd
			font-family: "JournalSansRegular";
		.place
			cursor: pointer
			.plus
				width: 40px
				height: 40px 
				border: 2px solid #8c8c8c
				display: inline-block
				text-align: center
				color: #8c8c8c
				font-size: 45px
				line-height: 40px
			span 
				font-family: "JournalSansBold";
				color: #686868
				display: inline-block
				vertical-align: middle
				margin: 0 0 12px 10px
				font-size: 36px
				&:hover	
					text-decoration: underline
		.sahalin
			display: none	
		.kamchatka-title
			display: none

#production-scheme
	width: 1270px
	margin: -145px auto 0
	overflow: hidden
	h3
		height: 145px
		color: #fff
		background-color: #525252
		margin: 0
		line-height: 145px
	.schemes-wrap
		width: 50%
		float: left
		vertical-align: top
		height: 748px
		overflow: hidden
		.stage
			height: 250px
			overflow: hidden
			position: relative
			.descr
				position: absolute
				text-align: center
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
				h4
					font-size: 24px
					transition: all 0.5s;					
				h4
					text-transform: uppercase
					font-family: "JournalSansBold"
				p 
					opacity: 0
					font-size: 18px
					font-family: "JournalSansRegular";					
				.plus
					width: 25px
					height: 25px
					font-size: 35px
					line-height: 25px
					opacity: 1
					display: inline-block
			&:hover
				.descr
					background-color: $red-color
					color: #fff
					width: 280px
					height: 250px
				h4
					font-size: 30px
					color: #fff
				.plus
					opacity: 0
					display: none
				p 
					opacity: 1
		.stage-1
			text-align: right
			.descr
				top: 0
				height: 100%
				background-color: #292929
				width: 140px
				h4 
					margin-top: 70px						
				.plus
					color: #fff
					border: 2px solid #fff
					transition: all 0.5s;	
					
		.stage-2
			text-align: right
			.descr
				top: 0
				height: 100%
				background-color: #292929
				width: 140px
				h4 
					margin-top: 70px
				.plus
					color: #fff
					border: 2px solid #fff
					transition: all 0.5s;	
					
		.stage-3
			text-align: left
			.descr
				top: 0
				height: 100%
				background-color: #e8e8e8
				color: #767676
				width: 140px
				right: 0
			h4 
				margin-top: 70px
				color: #767676
				transition: all 0.5s;	
				.plus
					color: #767676
					border: 2px solid #767676
					transition: all 0.5s;	
					
		.stage-4
			.descr
				top: 0
				height: 140px
				background-color: #292929
				width: 250px
				h4 
					margin-top: 35px

				.plus
					color: #fff
					border: 2px solid #fff	
					transition: all 0.5s;	
			&:hover
				.descr
					h4
						margin-top: 70px 				
			img
				width: 100%
		.stage-5
			height: 500px
			.descr
				bottom: 0
				height: 140px
				background-color: #e8e8e8
				color: #767676
				width: 250px
				right: 0
			h4 
				margin-top: 35px
				transition: all 0.5s;		
				color: #767676
				.plus
					color: #767676
					border: 2px solid #767676
			&:hover
				.descr
					h4
						margin-top: 70px 				
			img
				width: 100%

#certificates
	.line-bg
		background: url('../img/pattern-2.jpg')
		height: 475px
	.container
		width: 1270px
		margin: -419px auto 0
		h3
			text-align: left
	#counter
		margin-bottom: 23px 
		display: block
		font-family: "JournalSansBold";	
	#bx-pager-certificates
		display: inline-block
		vertical-align: top
	.bxslider-certificates
		margin: 0
		padding: 0
		li 
			width: 550px !important
	.bx-wrapper
		width: 550px
		display: inline-block
		box-shadow: none;
		margin-top: -45px
	#bx-pager-certificates
		a
			height: 200px
			display: inline-block
			margin-right: 30px
			border-top: 5px solid #fff
			position: relative
			img
				width: 140px 
				height: auto
				box-sizing: border-box
				position: relative
				-webkit-transition: all 0.2s;
				-moz-transition: all 0.2s;
				-o-transition: all 0.2s;
				transition: all 0.2s;
				top: 15px
		.active
			padding: 0
			border: none
			img 
				border: 4px solid $red-color
				top: -8px
	.bx-controls-direction
		font-size: 0
		a 
			width: 17px
			height: 20px
			background-image: url("../img/slide-arrovs.png")
			background-size: cover
			position: absolute
			top: -35px
		.bx-prev
			left: -125px
			top: 10px
			background-position: 0 0
			&:hover
				background-position: -40px 0
		.bx-next
			right: 580px
			top: 10px
			background-position: -20px 0
			&:hover
				background-position: -60px 0
	.wrapper
		text-align: left
		height: 0
		.info
			display: inline-block
			width: 570px
			text-align: left
			position: relative
			top: -470px
			h4
				font-size: 30px 
				font-family: "JournalSansBold";
				text-decoration: underline
				color: #000
				line-height: 35px
			.descr
				border-left: 5px solid #dddddd
				padding-left: 35px 
				p 
					color: #000
					font-size: 18px
					margin-bottom: 50px 
					font-family: "JournalSansRegular";
					margin-bottom: 30px
				span 
					color: #8c8c8c
					font-size: 18px 
					font-family: "JournalSansBold";

	

#scheme-works
	background: url('../img/scheme-works-bg.jpg') 
	background-position: center
	background-size: cover
	padding: 40px 0 90px
	h3
		margin-bottom: 90px
	.container
		width: 1270px
		padding-right: 54px
		box-sizing: border-box
		margin: 0 auto 70px
		text-align: right
		.number-col
			min-width: 200px
			display: inline-block
			vertical-align: top
			text-align: left
			margin: 0 -2px
			.stage-wrap
				position: relative
				width: 200px
				height: 170px
				background-color: $red-color
				color: #fff 
				display: inline-block
				vertical-align: top
				cursor: pointer
				-webkit-transition: all 0.6s;
				-moz-transition: all 0.6s;
				-o-transition: all 0.6s;
				transition: all 0.6s;
				h4
					text-align: center
					margin-top: 70px 					
					font-family: "JournalSansBold";	
					-webkit-transition: all 0.6s;
					-moz-transition: all 0.6s;
					-o-transition: all 0.6s;
					transition: all 0.6s;
				.number
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background-color: #fff
					color: #383838
					display: table 
					text-align: center
					-webkit-transition: all 0.6s;
					-moz-transition: all 0.6s;
					-o-transition: all 0.6s;
					transition: all 0.6s;
					span
						display: table-cell
						vertical-align: middle
						font-size: 85px
						font-family: "JournalSansRegular";
						-webkit-transition: all 0.6s;
						-moz-transition: all 0.6s;
						-o-transition: all 0.6s;
						transition: all 0.6s;
				&:hover
					width: 550px
					.number
						width: 70px
						height: 80px
						background-color: #FFF
						top: -35px 
						left: 30px
						span
							font-size: 35px 
							color: #000 
							font-family: "JournalSansRegular";	
					h4 
						font-size: 40px	
			.stage-1, .stage-3
				img
					position: absolute
					top: 43%
					right: -19px
					z-index: 1000
					-webkit-transition: all 0.2s;
					-moz-transition: all 0.2s;
					-o-transition: all 0.2s;
					transition: all 0.2s;
			.stage-2 
				.arrov-to-3
					width: 0;
					height: 0;
					border-bottom: 20px solid $red-color; 
					border-left: 20px solid transparent;
					position: absolute
					right: 0
					bottom: 0
				.arrov-in-1
					width: 0;
					height: 0;
					border-top: 20px solid transparent;
					border-left: 20px solid #fff;
					border-bottom: 20px solid transparent;
					position: absolute
					top: 70px 
					left: -6px
					opacity: 0
					-webkit-transition: all 0.4s;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					transition: all 0.4s;
				&:hover
					.arrov-to-3
						border-bottom: 20px solid #fff; 
					.arrov-in-1
						opacity: 1
						z-index: 1000
			.stage-4
				img 
					position: absolute
					right: 80px
					bottom: -19px
					z-index: 1000
				&:hover
					img
						opacity: 1
						z-index: 100
				.arrov-in-1
					width: 0;
					height: 0;
					border-top: 20px solid transparent;
					border-left: 20px solid #fff;
					border-bottom: 20px solid transparent;
					position: absolute
					top: 70px 
					left: -6px
					opacity: 0
					-webkit-transition: all 0.4s;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					transition: all 0.4s;
				&:hover
					.arrov-in-1
						opacity: 1
						z-index: 1000

			.stage-5
				.arrov-to-5
					width: 0;
					height: 0;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-top: 20px solid #fff;
					position: absolute
					top: -6px
					left: 82px
					opacity: 0
					z-index: 1000
					-webkit-transition: all 0.4s;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					transition: all 0.4s;
				&:hover
					.number						
						top: -35px 
						left: 445px
					.arrov-to-5
						opacity: 1
				
			.stage-3, .stage-4
				margin: 170px 0 2px			
			.last-stage
				text-align: right

#with-whom-work
	padding: 40px 0 80px
	h3
		color: #4e4d4d
		margin-bottom: 80px
	.clients-wrap
		width: 1270px
		height: 300px
		margin: 0 auto
		padding-top: 15px
		box-sizing: border-box
		.client
			height: 270px
			background-color: #f8f8f8	
			color: #a2a2a2	
			font-size: 30px
			line-height: 36px
			display: inline-block
			vertical-align: top
			padding: 15px 0
			width: 25%
			margin: 0 -4px
			text-align: center
			font-family: "JournalSansBold";	
			box-sizing: border-box
			-webkit-transition: all 0.15s;
			-moz-transition: all 0.15s;
			-o-transition: all 0.15s;
			transition: all 0.15s;
			.info-wrap
				border: 2px solid #fff 
				border-width: 0 2px 0 2px
				height: 100%
				&:hover
					border: none
			p 
				margin-top: 20px
			&:first-child
				border-left: none
			&:last-child
				border-right: none
			.icon 
				width: 80px
				height: 80px
				display: inline-block
				background-image: url('../img/with-whom-icons.png') 
				background-repeat: no-repeat
				background-size: 700%
			.icon-1
				background-position: -20px -15px
			.icon-2
				background-position: -142px -15px
			.icon-3
				background-position: -283px -15px
			.icon-4
				background-position: -442px -15px
			&:hover
				color: #fff 
				background-color: $red-color
				.icon-1
					background-position: -20px -113px
				.icon-2
					background-position: -142px -113px
				.icon-3
					background-position: -283px -113px
				.icon-4
					background-position: -442px -113px

#place-of-unloading
	background: url('../img/pattern-1.jpg')
	padding: 70px 0
	.map
		margin: 0 auto
		position: relative
		display: inline-block
		.map-img
			width: 1270px
			height: auto
		.fadein
			opacity: 0
		.city
			position: absolute
			font-size: 13px
			color: #000
			p 
				margin: 0
				font-family: "JournalSansBold";
			img 
				width: 10px
				margin: 0 10px
		.moskva
			top: 240px;
			left: 135px;
			font-size: 28px
			img
				width: 20px
		.surgut
			top: 320px;
			left: 450px;
			font-size: 17px
			img 
				width: 16px
		.krasnoyarsk
			top: 390px;
			left: 625px;
			font-size: 17px
			img 
				width: 16px
		.ulan-ude
			top: 565px;
			left: 750px;
			font-size: 17px
			img 
				width: 16px
		.tomsk
			top: 460px;
			left: 545px;
			font-size: 17px
			img 
				width: 16px
		.salehard
			top: 250px;
			left: 430px;
			font-size: 17px
			img 
				width: 16px
		.astana
			top: 520px;
			left: 355px;
			font-size: 17px
			img 
				width: 16px
		.sankt-peterburg
			top: 140px;
			left: 130px;
			font-size: 17px
			img 
				width: 16px
				margin-bottom: 20px
		.minsk
			top: 185px;
			left: 85px;
		.petropavlovsk
			top: 340px;
			right: 20px;
			text-align: right
			color: #fff
			p 
				margin: 28px 20px 0 0
		.irkutsk
			top: 575px;
			left: 665px;
			p
				display: inline-block
			img 
				display: inline-block
		.ekaterinburg
			top: 385px;
			left: 335px;
			text-align: left
		.rostov-na-donu
			top: 365px;
			left: 65px;
			p
				display: inline-block
			img 
				display: inline-block
		.murmansk
			top: 85px
			left: 335px
			color: #fff
			p
				display: inline-block
			img 
				display: inline-block
		.kaliningrad
			top: 115px;
			left: 5px
			color: #fff
			p
				display: inline-block
			img 
				display: inline-block
		.simferopol
			top: 300px;
			left: 0px;
			color: #fff
			text-align: left
			img 
				margin-top: 10px
		.krasnodar
			top: 380px;
			left: 35px;
			text-align: left
		.aktau
			top: 510px;
			left: 120px;
			p
				display: inline-block
			img 
				display: inline-block
		.bishkok
			top: 680px;
			left: 345px;
			text-align: right
		.almaty
			top: 670px;
			left: 395px;
			text-align: left
		.karaganda
			top: 580px;
			left: 365px;
		.pavlodar
			top: 540px;
			left: 435px;
		.orenburg
			top: 430px;
			left: 225px;
		.ufa
			top: 400px;
			left: 250px;
			p
				display: inline-block
			img 
				display: inline-block
		.chelyabinsk
			top: 425px;
			left: 315px;
		.tyumen
			top: 420px;
			left: 388px;
			text-align: left;
		.omsk
			top: 480px;
			left: 430px;
		.kemerovo
			top: 515px;
			left: 520px;
		.novuy-urengoy
			top: 295px;
			left: 500px;
		.novosibirsk
			top: 510px;
			left: 425px;
			p
				display: inline-block
			img 
				display: inline-block
		.krasnoyarsk-2
			top: 515px;
			left: 600px;
			p
				display: inline-block
			img 
				display: inline-block

#clients-brand
	background-color: #b7b7b7
	padding: 50px 0
	img
		display: inline-block
		margin: 25px 45px
		vertical-align: middle
#instagram
	color: #919191
	font-size: 30px
	font-family: "JournalSansBold";
	padding-bottom: 70px
	.img-line
		width: 100%
		height: 300px
		background: url('../img/instagram-bg.jpg') repeat-x center
	.wrap
		margin-left: -100px
	.container
		width: 1270px
		margin: 0 auto
		background-color: #FFF
		margin-top: -100px
		h3
			margin: 0 0 40px
			height: 100px
			line-height: 100px
		a 
			width: 270px
			height: 70px 
			color: #f5f5f5
			background-color: #383838
			line-height: 70px 
			border-radius: 3px
			display: inline-block
			text-decoration: none
			margin: 0 50px
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			&:hover
				background-color: #272727

#form-section
	background: url('../img/form-section-bg.jpg')
	background-position: center
	background-size: cover
	padding: 40px 0 60px
	overflow: hidden
	h3 
		line-height: 56px

footer
	font-size: 22px
	line-height: 35px
	font-family: "JournalSansRegular";
	text-align: left
	.left-col
		background-color: #b7b7b7
		float: left
		width: 50%
		vertical-align: top
		padding: 35px 5px 
		box-sizing: border-box
		height: 335px
		.container
			float: right
		.info
			border-top: 1px solid #fff
			display: inline-block
			.dot
				width: 7px;
				height: 7px;
				display: inline-block
				vertical-align: middle
				background: #fff;
				-moz-border-radius: 50px;
				-webkit-border-radius: 50px;
				border-radius: 50px;
				margin: 0 20px
	.right-col
		background-color: #4a4a4a
		float: left
		width: 50%
		vertical-align: top
		padding: 35px 5px 
		box-sizing: border-box
		padding-left: 50px
		height: 335px
		.container
			float: left
		a
			margin: -42px 0 100px
			color: #fff
			display: inline-block
		.phones-wrap
			float: left
			display: inline-block
			vertical-align: bottom
			p 
				margin: 0
		.e-mail
			float: right
			display: inline-block
			margin: 0
			vertical-align: bottom
			line-height: 95px
	.container
		width: 99%
		max-width: 850px
		float: left
		position: relative
		.up-arrov
			position: absolute
			top: -80px 
			right: 0
		.logo
			font-size: 48px
			font-family: "JournalSansBold";
			margin: 35px 0 80px

#thank
	background-color: #FFF
	padding: 40px
	width: 650px
	box-sizing: border-box
	margin: 0 auto
	text-align: center
	p 
		margin: 0 auto
		color: #272727
	h3
		color: #272727
form input.error 
	border: 1px solid red

#form
	background-color: #FFF
	padding: 70px
	input 
		border: 1px solid #c6c6c6

.hidden
	display: none

.clear
	clear: both	

		





